.products {
  background-color: $c-primary;
  color: $c-white;
  padding: 120px 0;
  @include tablet768 {
    padding: 80px 0;
  }
  & h2 {
    color: inherit;
    @include tablet768 {
      margin-bottom: 20px;
    }
  }
  &__head {
    background-color: $c-primary-light;
    border-radius: 39px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    @include desktop {
      overflow-x: scroll;
      overflow-y: visible;
    }
    @include tablet768 {
      display: none;
    }
    &-btn {
      position: relative;
      padding: 12px 24px 12px 60px;
      background-color: transparent;
      font-size: 24px;
      font-weight: 900;
      white-space: nowrap;
      border-radius: 100px;
      border: 2px solid transparent;
      color: $c-white;
      display: flex;
      align-items: center;
      transition: all .3s ease;
      &.active {
        background-color: $c-white;
        color: $c-main;
      }
      & img {
        position: absolute;
        left: 0;
        top: 50%;
        width: 54px;
        min-height: 76px;
        transform: translateY(-50%);
        transition: transform .3s ease;
      }
      @include hover {
        &:hover {
          border-color: $c-white;
          & img {
            transform: scale(1.15) translateY(-50%);
          }
        }
      }
    }
  }
  &__body {
    @include tablet768 {
      display: none;
    }
    &-item {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 1s ease;
      display: flex;
      align-items: flex-start;
      gap: 30px;
      @include laptop {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      &.active {
        opacity: 1;
        max-height: 1000px;
      }
    }
  }
  &__mobile {
    display: none;
    gap: 40px;
    @include tablet768 {
      display: grid;
    }
    &-block {
      & h3 {
        position: relative;
        padding: 12px 24px 12px 60px;
        background-color: $c-primary-light;
        border-radius: 100px;
        &>img {
          position: absolute;
          left: 0;
          top: 50%;
          width: 54px;
          min-height: 76px;
          transform: translateY(-50%);
        }
      }
    }
    &-item {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: calc(100% + 30px);
        left: -15px;
        right: -15px;
        bottom: 0;
        background-color: $c-primary-light;
        height: 1px;
      }
      &.active {
        & .products__mobile-content {
          max-height: 1000px;
          overflow: visible;
          padding-bottom: 20px;
        }
        & .products__mobile-arrow {
          transform: rotate(360deg);
        }
      }
      &:first-child {
        padding-top: 20px;
      }
    }
    &-title {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      &-wrap {
        display: grid;
        gap: 12px;
        font-size: 20px;
        font-weight: 900;
        & h4 {
          font-weight: 500;
        }
      }
    }
    &-arrow {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 36px;
      background-color: $c-primary-light;
      flex-shrink: 0;
      transform: rotate(180deg);
      transition: transform .3s linear;
      & .icon {
        fill: $c-white;
      }
    }
    &-content {
      padding-bottom: 0;
      transition: all .3s linear;
      overflow: hidden;
      max-height: 0;
      color: $c-light-txt;
      &.active {
        padding-bottom: 20px;
      }
      & ul {
        display: grid;
        gap: 4px;
      }
    }
  }
  &-tab {
    &__item {
      flex: 1 1 0px;
      padding: 20px 15px;
      text-align: center;
      background-color: $c-primary-light;
      border-radius: 16px;
      & h4 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
      }
      & h3 {
        margin-bottom: 20px;
      }
      & ul {
        padding: 0 5px;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #D2CFE5;
        display: grid;
        gap: 4px;
      }
    }
  }
}